/************ CSS VARIABLES ************/
:root {
  --accent-color: #ff99e8;
  --primary-gray: #2e2e2e;
  --secondary-gray: #666666;
  --tertiary-gray: #999999;
  --primary-bg: #f6f6f6;
  --secondary-bg: #d8d8d8;
  --header-font-family: "Playfair Display", serif;
  --general-font-family: "Poppins", sans-serif;
}

/************ CSS DEFAULT SELECTORS ************/
body {
  color: var(--tertiary-gray);
}

/* nav {
  padding: 24px 0px !important;
} */

/* nav .logo {
  max-width: 36px;
} */

/* nav ul {
  padding: 0;
  margin: 0;
} */

/* nav li {
  display: inline;
  list-style-type: none;
  line-height: 25px;
} */

nav a {
  padding: 0px 3px 0px 7px;
}

h1,
h2 {
  font-family: var(--header-font-family);
  font-weight: 900;
}

h3,
h4,
h5 {
  font-family: var(--general-font-family);
  font-weight: 400;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
  font-weight: 700;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-gray);
}

p {
  font-family: var(--general-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-gray);
  margin-bottom: 0;
}

hr {
  color: var(--secondary-bg);
  height: 2px !important;
  width: 30%;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 2px;
  letter-spacing: 5px;
}

a:hover {
  color: #000;
  background-color: var(--accent-color);
  transition: all 130ms ease-in-out;
}

small {
  background-color: var(--primary-bg);
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 6px;
  color: var(--secondary-gray);
}

footer {
  text-align: center;
  padding: 30px 0px;
}

footer p {
  color: var(--accent-color);
}

/************ CUSTOM CLASSES ************/

.logo-link:hover {
  background-color: transparent !important;
}

.home-link {
  font-size: 14px;
  padding: 2px 2px 2px 12px !important;
  color: #000;
}

.nav-menu {
  border: none;
}

.nav-menu:focus {
  box-shadow: none;
}

.hero {
  background-color: var(--primary-bg);
  text-align: center;
  padding: 160px 20px;
}

.cta {
  background-color: var(--accent-color);
  color: #000;
  border-radius: 0;
  padding: 24px 46px;
  border: 0px;
  text-transform: uppercase;
}

/* .cta:hover {
  background-color: #000;
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
} */

.links-container a {
  margin: 0px 10px 0px 0px;
}

.section {
  padding-top: 46px;
}

.work-dates {
  text-transform: uppercase;
  color: var(--tertiary-gray);
}

.work-description {
  margin-bottom: 12px;
}

.project-description {
  padding: 100px 80px;
}

.project-description p {
  margin-bottom: 0px;
}

.right {
  padding: 130px 80px 110px 0px;
}

.about p {
  padding: 0px 40px 0 0;
  line-height: 1.6;
}

.contact {
  padding: 20px 0px;
  background-color: var(--primary-bg);
  margin-top: 100px;
}

.contact .section {
  padding-top: 0px;
}

.project-card h4 {
  font-weight: 700;
}

/************ MEDIA QUERIES ************/
@media (max-width: 991px) {
  h3 {
    font-size: 36px;
  }
  .project-description {
    padding: 36px;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
  .project-description {
    padding: 0px 10px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 52px;
  }

  hr {
    display: none;
  }

  h3 {
    font-size: 30px;
  }

  .section a {
    background-color: var(--accent-color);
  }

  .links-container a {
    background-color: transparent;
  }

  .hero {
    padding: 80px 20px;
    text-align: left;
  }

  .links-container a {
    display: block;
  }

  .work-dates {
    margin-bottom: 12px;
  }

  .project-description {
    padding: 0px 10px 0px;
  }
}
