/* CSS VARIABLES */
:root {
  --accent-color: #ffe8e8;
  --primary-gray: #2e2e2e;
  --secondary-gray: #666666;
  --tertiary-gray: #999999;
  --primary-bg: #d8d8d8;
  --secondary-bg: #f6f6f6;
  --header-font-family: "Playfair Display", serif;
  --general-font-family: "Poppins", sans-serif;
}

/* CSS DEFAULT SELECTORS */
body {
  color: var(--tertiary-gray);
}

h1,
h2 {
  font-family: var(--header-font-family);
  font-weight: 900;
}

h3,
h4,
h5 {
  font-family: var(--general-font-family);
  font-weight: 400;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
  font-weight: 700;
}

h4 {
  font-family: var(--general-font-family);
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: var(--general-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-gray);
}

hr {
  color: var(--primary-bg);
  height: 2px !important;
  width: 30%;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 2px;
  letter-spacing: 5px;
}

a:hover {
  color: #000;
  background-color: var(--accent-color);
}

small {
  background-color: var(--secondary-bg);
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 6px;
}

/* CUSTOM CLASSES */
.hero {
  background-color: var(--secondary-bg);
  text-align: center;
  padding: 160px 20px;
}

.cta {
  background-color: var(--accent-color);
  color: #000;
  border-radius: 0;
  padding: 24px 46px;
  border: 0px;
  text-transform: uppercase;
}

.links-container a {
  margin: 0px 10px;
}

.section a {
  position: relative;
  top: 40px;
}
.work-dates {
  text-transform: uppercase;
}

.work-description {
  margin-bottom: 12px;
}

.project-description {
  padding: 100px 80px;
}

.right {
  padding: 130px 80px 110px 0px;
}

.project-description p {
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 52px;
  }

  hr {
    display: none;
  }

  .hero {
    padding: 80px 20px;
    text-align: left;
  }
}
